body {
  text-align: center;
  color: #000f08;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
  font-size: 3.75em;
  margin-bottom: 0.25em;
}

h2 {
  font-weight: 700;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;

}

h5 {
  font-size: 1.25em;
}



.subtitulo,
h4,
h5 {
  font-weight: 400;
}

#ubicacion h2 {
  margin: 1em auto;
}

.sweet-brown h3,
.sweet-brown h5 {
  margin-bottom: 0.5em;
}

#eventos h2 {
  margin-bottom: 1em;
}

#eventos h3 {
  margin: 1em auto;
}

.oscuro {
  background: #000f08;
  color: #ffffff;
}

.oscuro a {
  color: #ffffff;
  text-decoration: none;
}


.sweet-brown {
  text-align: left;
  background: #a4452c;
  color: #ffffff;
  padding: 3.125rem;
  white-space: nowrap;
}

.hero-section {
  text-align: right;
  background-image: url('../img/bg-hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.125em 0.25em 0.125em #707070;
  padding: 6.25rem 3.125rem;
}

section
{
  margin-top: 50px;
}

footer {
  padding: 50px;
  margin-right:-20px;
}

.centrado {
  width: 75%;
  margin: 0 auto;
}

.charla-speaker,
.charla-texto,
.evento {
  display: inline-block;
}

.charla-speaker {
  width: 25%;
  vertical-align: middle;
}

.charla-texto {
  width: 72.5%;
  vertical-align: middle;
  margin-left: 2.5%;
  white-space: normal;
}

.evento {
  width: 30%;
}

.evento img {
  width: 75%;
}

nav {
  text-align: left;
  padding: 1.25rem 4rem;
  position: absolute;
  width: 100vw;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.icono {
  width: 2rem;
}

.icono svg {
  fill: #ffffff;
}

footer i {
  margin: 0 0.25em 0.5em 0.25em;
}

.seccion {
  /* width:1085px; */
  height: 1990px;
  margin-right: 209px;
  margin-left: 209px;
  margin-bottom: 50px;
  /* background-color: blueviolet; */
}

.seccion h2 {
  text-align: left;
}

.seccion img {
  width: 100%;
  margin-top: 29px;
  padding:10px 0;
}

.div-imagen {
  text-align: left;
}

.seccion p {
  text-align: left;
}

.parrafo {
  font: normal normal normal 25px/34px Open Sans;
  letter-spacing: 0.5px;
  color: #000F08;
  opacity: 1;
  font-size:20px;
}
